[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = none

# S3442: "abstract" classes should not have "public" constructors
dotnet_diagnostic.S3442.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# S2292: Trivial properties should be auto-implemented
dotnet_diagnostic.S2292.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# S1128: Unused "using" should be removed
dotnet_diagnostic.S1128.severity = suggestion
